{% extends "project1/base.html" %}

{% block title %}
    Project 1 - Supervised Learning
{% endblock %}


{% block content %}

<div class="page-container">

    <div class="card centered-text">

        <h1>
            Project 1: Supervised Learning Interface
        </h1>

        <h2>
            Select your problem
        </h2>

        <p class="help-text">
            Please choose what type of supervised learning problem
            you want to work on.
        </p>


        <div class="action-row">

            <a
                href="{% url 'project1:classification' %}"
                class="button"
            >
                Classification
            </a>

            <a
                href="{% url 'project1:regression' %}"
                class="button secondary-button"
            >
                Regression
            </a>

        </div>

    </div>

</div>

{% endblock %}